body{
    height: 450px;
    background: rgb(68,245,121);
    background: radial-gradient(circle, rgba(68,245,121,1) 0%, rgba(200,18,18,1) 71%);
}

nav{
    background-color: rgb(26, 24, 24); 
    position: absolute;  
    left: 0;  
    right: 0;  
    top: 0px;  
    height: 100px;  
    display: sticky;  
    box-shadow: 0 0 50px 0 black;  
     
}

ul {
    list-style-type: none;
    margin:0px;
    padding: 0px;
}

li {
    float: left;
}
li a{
    display: block;
    padding: 40px;
    margin-right: 150px;
    text-size-adjust: 70px;
    color: white;
}

li a:hover{
    background-color: bisque;
    transition: 1000ms;
}

#video{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 400px;
    } 

video{
    margin-top: 30px;
    
}



footer{
    background-color: rgb(207, 240, 246);
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    
}

footer li{
    list-style-type: none;
    text-align: inline-block;
    float: left;
}
